<%- include('header'); -%>
<div>
    <div class="tradeheading" data-aos="flip-left" data-aos-duration="1500">
        <h1>ABOUT US</h1>
    </div>
    <div class="description">
        <p>Delta Global Group is one of the fastest growing young organizations with its footprint in India, Singapore and Dubai. The company has been one of the largest coal traders with excellent relations with miners, traders and shipping companies for the past 20. The company and promoters have built expertise in commodity trade for import and export of Mines, Minerals, Fuel, Oil, Agri Commodities, Chemicals and Textiles. </p>
    </div>
    <div class="aboutdiv">
        <div class="row row1">
            <div class="abtcard" id="abtcard1" data-aos="fade-right" data-aos-duration="1500"data-aos-once="true">
                <h2>Our Vision</h2>
                <p>To become the most respected and responsible global sourcing organization in the Commodity trade</p>
            </div>
            <div class="abtcard" id="abtcard2" data-aos="fade-left" data-aos-duration="1500"data-aos-once="true">
                <h2>Our Mission</h2>
                <p>Build best practices in end-to-end trade of Commodities making products available on time to the end users at an optimal cost through our global trade network</p>
            </div>
        </div>
        <div class="row row2">
            <div class="abtcard" id="abtcard3" data-aos="fade-right" data-aos-duration="1500"data-aos-once="true">
                <h2>Responsible Sourcing</h2>
                <p>At Delta Global we have adopted responsible sourcing as a part of our ecosystem wherein we ensure that our team, our suppliers, our buyers as well as our transporters adopt to international best practices and respect prevailing laws towards extraction, production, manufacturing, mining and supply of commodities.</p>
            </div>
            <div class="abtcard" id="abtcard4" data-aos="fade-left" data-aos-duration="1500"data-aos-once="true">
                <h2>Technology Driven</h2>
                <p>Delta Group keeps investing on latest technology to build transparency, accountability and risk management which helps us stand apart from our competitors and create ease of doing business through our cloud and mobile technology adaptation.</p>
            </div>
        </div>
    </div>
</div> 
<!-- <div class="aboutcarddiv">
    <div class="aboutcard card1">
        <div class="aboutheading">Our Vision</div>
        <div class="aboutparagraph">To become the most respected and responsible global sourcing organization in the Commodity trade</div>
    </div>
    <div class="aboutcard card2">
        <div class="aboutheading">Our Mission</div>
        <div class="aboutparagraph">Build best practices in end-to-end trade of Commodities making products available on time to the end users at an optimal cost through our global trade network</div>
    </div>
    <div class="aboutcard card3">
        <div class="aboutheading">Responsible Sourcing</div>
        <div class="aboutparagraph">At Delta Global we have adopted responsible sourcing as a part of our ecosystem wherein we ensure that our team, our suppliers, our buyers as well as our transporters adopt to international best practices and respect prevailing laws towards extraction, production, manufacturing, mining and supply of commodities.</div>
    </div>
    <div class="aboutcard card4">
        <div class="aboutheading">Technology Driven</div>
        <div class="aboutparagraph">Delta Group keeps investing on latest technology to build transparency, accountability and risk management which helps us stand apart from our competitors and create ease of doing business through our cloud and mobile technology adaptation.</div>
    </div>
</div> -->
<%- include('footer'); -%>