<%- include('header'); -%>
<section>
  <div class="slider">
    <div class="slide slide-1 active">
      <h1>Innovative Global Trading Solution</h1>
    </div>
    <div class="slide slide-2">
      <h1>Fulfilling Demand Supply Gap in Global Commodities</h1>
    </div>
    <div class="slide slide-3">
      <h1>Optimal Trade Finance Solutions</h1>
    </div>
    <div class="slide slide-4">
      <h1>Excellent Quality and On Time Delivery</h1>
    </div>
  </div>
  
</section>
<div class="icondiv">
    <div class="iconcard" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
        <div class="iconimg1"></div>
        <h3>Global Network</h3>
    </div>
    <div class="iconcard" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" data-aos-once="true">
        <div class="iconimg2"></div>
        <h3>Responsible Sourcing</h3>
    </div>
    <div class="iconcard" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" data-aos-once="true">
        <div class="iconimg3"></div>
        <h3>10 Million Metric Tonnes</h3>
    </div>
    <div class="iconcard" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
        <div class="iconimg4"></div>
        <h3>20 Years of Experience</h3>
    </div>
</div>

<%- include('footer'); -%>
