<%- include('header'); -%>
<div>
  <div class="tradeheading" data-aos="flip-left" data-aos-duration="1500">
    <h1>OUR TRADE</h1>
  </div>
  <div class="description">
    <p>
      By facilitating trade flows, we move products from an area of surplus to
      one of demand, leveraging our extensive expertise in logistics and
      finance. Our objective is achieved by obtaining a deep understanding both
      of the products we move and the regions within which they are moved.
    </p>
  </div>
</div>

<div class="commodities">
  <div class="cimage1"></div>
  <div class="cimage2"></div>
  <div class="cimage3"></div>
  <div class="cimage4"></div>
  <div class="cimage5"></div>
  <div class="cimage6"></div>
  <div class="info">
    <div class="citems">
      <ul>
        <li id="citems1">Coal --></li>
        <li id="citems2">Metals and Minerals --></li>
        <li id="citems3">ad --></li>
        <li id="citems4">Textiles --></li>
        <li id="citems5">Fertilizers --></li>
        <li id="citems6">Argo Products --></li>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT1">
      <ul class="ul">
        <li class="main">
          Steam Coal
          <ul class="notmain">
            <li>- High CV</li>
            <li>- Medium CV</li>
            <li>- Low CV</li>
          </ul>
        </li>
        <li class="main">
          Coking Coal
          <ul class="notmain">
            <li>- Low Vol</li>
            <li>- Mid Vol</li>
            <li>- High Vol</li>
            <li>- Semi Soft</li>
            <li>- PCI</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT2">
      <ul class="ul more">
        <div>
          <li class="main">
            Raw Materials
            <ul class="notmain">
              <li>- Mill scale</li>
              <li>- Scrap</li>
              <li>- Iron Ore Lumps</li>
              <li>- Iron Ore Pellets</li>
            </ul>
          </li>
          <li class="main">
            Intermediates
            <ul class="notmain">
              <li>- Hot Briquetted Iron</li>
              <li>- Billets</li>
              <li>- Hot Rolled Steel Coil</li>
              <li>- Steel Slabs</li>
            </ul>
          </li>
          <li class="main">
            Finished Products
            <ul class="notmain">
              <li>- Long Products</li>
              <li>- Flat Products</li>
              <li>- Plates</li>
              <li>- Sections/Tubular Products</li>
            </ul>
          </li>
          <li class="main">
            Other Products
            <ul class="notmain">
              <li>- Manganese Ore</li>
              <li>- Chrome Ore</li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT3">
      <ul class="ul">
        <div>
          <li class="main">Heavy, Middle and Light Distillates</li>
          <li class="main">Gasoline</li>
          <li class="main">Naphtha Gas oil/Diesel (10/50/500/5000ppm)</li>
          <li class="main">Jet A1</li>
          <li class="main">SKO fuel</li>
          <li class="main">Fuel Oil</li>
          <li class="main">FCC Bottom</li>
          <li class="main">Methanol</li>
          <li class="main">Benzene</li>
          <li class="main">Linear Alkyl Benzene (LAB)</li>
          <li class="main">Toluene</li>
          <li class="main">Hexane</li>
          <li class="main">Bitumen</li>
          <li class="main">Base Oil</li>
          <li class="main">Paraffin wax</li>
        </div>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT4">
      <ul class="ul">
        <li class="main">Fibre</li>
        <li class="main">Yarn</li>
        <li class="main">Fabric</li>
        <li class="main">Home Textile</li>
        <li class="main">Apparel</li>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT5">
      <ul class="ul more">
        <div>
          <li class="main">
            Nitrogen
            <ul class="notmain">
              <li>- Urea</li>
              <li>- Ammonium Sulphate</li>
              <li>- Ammonium Nitrate</li>
              <li>- Calcium Ammonium Nitrate</li>
              <li>- Ammonia</li>
              <li>- Urea Ammonium Nitrate</li>
            </ul>
          </li>
          <li class="main">
            Phosphates
            <ul class="notmain">
              <li>- Di Ammonium Phosphate</li>
              <li>- Mono Ammonium Phosphate</li>
              <li>- Triple Super Phosphate</li>
              <li>- Single Super Phosphate</li>
            </ul>
          </li>
          <li class="main">
            Potash
            <ul class="notmain">
              <li>- Muriate of Potash</li>
              <li>- Sulphate of Potash</li>
            </ul>
          </li>
          <li class="main">
            Complex And Speciality Fertilizers
          </li>
        </div>
      </ul>
    </div>
    <div class="citemsTypes" id="citemsT6">
      <ul class="ul more">
        <div>
            <li class="main">
                High-quality Beans and Pulses
                <ul class="notmain">
                      <li>- Chick Peas</li>
                      <li>- Black Matpe</li>
                      <li>- Pigeon Peas</li>
                      <li>- Lentils</li>
                      <li>- Yellow and Green Peas</li>
                      <li>- Kidney Beans</li>
                      <li>- Black Beans</li>
                      <li>- Green Mung Beans</li>
                      <li>- Black Eye Beans</li>
                      <li>- Dun Peas</li>
                    </ul>
                  <li class="main">Premium Oil Seeds
                      <ul class="notmain">
                      <li>- Soy</li>
                      <li>- Mustard</li>
                      <li>- Rapeseeds</li>
                      <li>- Sunflower Seeds</li>
                      <li>- Sesame</li>
                    </ul>
                  </li>
                  <li class="main">Rice</li>
                  <li class="main">Wheat</li>
                  <li class="main">Sugar</li>
              </li>
        </div>
      </ul>
    </div>
  </div>
</div>
<%- include('footer'); -%>
